.about-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    color: #007bff; /* Azul brillante */
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.personal-image {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}
